body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(120deg, #4facfe, #fe8400);
}


.container{
    background-color: #49BBD4;
    text-align: center;
    border: 3px solid;
    padding: 30px;
    border-radius: 15px;
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.button{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.button button{
    padding: 8px;
    border: 2px solid;
    border-radius: 10px;
    font-size: 20px;
    background-color: #47D794;
    font-family: cursive;
    transition: transform 0.4s ease-in-out;
}

.result{
    font-size: 20px;
    font-family: monospace;
}

.button button:hover{
    transform: translateY(-5px) scale(1.05);

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
#actualResult{
    font-size: 10px;
}

.resultcontainer{
    border: 2px solid black;
    margin-top: 15px;
    border-radius: 18px;
    display: inline-block;
}
.resultcontainer #actualResult{
    padding: 15px;
    border-radius: 15px;
    background-color: #00dfdf;
    font-size: 15px;
    font-family: cursive;
}

#reset:hover{
    transform: scale3d(1.5, 1.5, 1.5);
}
.resetcontainer{
    margin-top: 11px;
}
#reset{
    font-size: 20px;
    border: 1px solid;
    border-radius: 6px;
    background-color: chartreuse;
    transition: 0.2s cubic-bezier(0.32, 0.82, 1, 1);
}